body{

    background-image: linear-gradient( to right,rgb(227, 166, 235),rgb(250, 246, 246) ,rgb(227, 166, 235));
}


.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#button1{
  
    font-weight: bold;
    font-size: large;
    border-radius: 20px;
    width: 211px;
    height: 39px;
    box-shadow: 0px 0px 1px 2px darkgray;
    border:0px;
}
#button2{
    font-weight: bold;
    font-size: large;
    border-radius: 20px;
    width: 211px;
    height: 39px;
    box-shadow: 0px 0px 1px 2px darkgray;
    border:0px;
}
#button3{
   
    font-weight: bold;
    font-size: large;
    border-radius: 20px;
    width: 211px;
    height: 39px;
    box-shadow: 0px 0px 1px 2px darkgray;
    border:0px;
    
}
.container2{
    display: flex;
    gap: 12px;
}
#txt{
     padding-left: 48%;
}
.test{
    padding-left: 41%;
}
.container{
    padding-top: 12%;  
 
}
#button1:hover{
    padding: 5px;
    border: 0px;
    color: #f1f1f9;
    background-color: #5edb7a;
}
#button2:hover{
    padding: 5px;
   color: #f1f1f9;
    background-color: #5edb7a;
}
#button3:hover{
    padding: 5px;
    color: #f1f1f9;
    background-color: #5edb7a;
}